<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <script type="text/template" id="cart-template">
        <ul>
            <% _.each(goods, function(item) { %>
                <li><%= item.name %> - <%= item.count %> - <%= item.price %></li>
            <% }); %>
        </ul>
    </script>

    <div id="basket_product_list"></div>

    <script>
        $(document).ready(function() {
            function renderCart() {
                console.log('Start render');
                var templateHtml = $('#cart-template').html();
                if (!templateHtml) {
                    console.error('Шаблон не найден или пуст.');
                    return;
                }
                var template = _.template(templateHtml);
                var data = {
                    goods: [
                        { name: 'Product 1', count: 2, price: 100 },
                        { name: 'Product 2', count: 1, price: 200 }
                    ]
                };
                console.log('Товары в корзине:', data);
                $('#basket_product_list').html(template(data));
            }

            renderCart();
        });
    </script>
</body>
</html>





        <!-- HTML разметка -->
        <div class="basket" id="cart">
            <div class="basket__container" id="basket_container">
                <div class="basket__item">
                    <h1 class="basket__title">Оформление заказа</h1>
                </div>
                <div class="basket__item" id="basket_product_list">
                    <script type="text/template" id="cart_template">
                        <% _.each(goods, function(item) { %>
                            <div class="js-cart-item" data-id="<%= item.id %>">
                                <span class="js-count"><%= item.count %></span> x 
                                <span><%= item.name %></span>
                                <span class="js-summa"><%= item.count * item.price %> руб.</span>
                                <button class="js-change-count" data-id="<%= item.id %>" data-delta="1">+</button>
                                <button class="js-change-count" data-id="<%= item.id %>" data-delta="-1">-</button>
                                <button class="js-remove-from-cart" data-id="<%= item.id %>">Удалить</button>
                            </div>
                        <% }); %>
                    </script>
                </div>
                <div class="basket__item">
                    <div class="basket__cost">
                        <h2 class="basket__cost-title">Итого</h2>
                        <output class="basket__cost-value" id="total-cart-summa">0</output> руб.
                    </div>
                </div>
                <button class="basket__close" id="basket_close">✖</button>
            </div>
        </div>