.filters {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
}

.filters h3 {
    font-size: 24px;
    color: #e25d67;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group h4 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #4d4d4d;
}

.filter-group label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.filter-button {
    padding: 10px 20px;
    background: #e25d67;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.catalog-items {
    flex: 1;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.catalog-items h2, .catalog-items h3 {
    color: #e25d67;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-item {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.product-item h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-item .price {
    font-size: 16px;
    color: #4d4d4d;
}

.product-item .discount {
    color: #e25d67;
    font-weight: bold;
    text-decoration: line-through;
    margin-left: 10px;
}

.price {
    font-size: 16px;
    color: #333;
}

.discount {
    color: red;
    text-decoration: line-through;
    margin-left: 10px;
}

.footer-content {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #3a2f29;
    color: #e6ded5;
}

.footer-content h2 {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}

.footer-content p {
    margin: 5px 0;
}


/* Основные стили для pop-up */
.popup {
    display: flex; /* Скрыт по умолчанию */
    position: fixed; /* Зафиксированное положение */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный чёрный фон */
    z-index: 9999; /* Высокий z-index, чтобы быть поверх всего */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    user-select: none;
    overflow-y: scroll; /* Если контента будет много */
}

/* Внутренний блок с контентом */
.popup-content {
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    margin: auto;   
    border-radius: 8px;
    position: relative;
}

/* Крестик для закрытия pop-up */
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.popup-close:hover {
    color: red; /* Красный цвет при наведении */
}




/* Адаптивность для мобильных устройств
@media (max-width: 768px) {
    .catalog-section {
        flex-direction: column;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
} */
.cart_button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #364364;
    transition: 0.1s;
    cursor: pointer;
    position: fixed; /* Фиксированное расположение */
    top: 100px; /* в правом верхнем углу */
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Увеличиваем кнопку при наведении на нее */
  .cart_button:hover {
    transform: scale(1.1);
  }

  .cart_button img {
    width: 50px;
    height: 50px;

  }
  /* Стилизуем счетчик товаров */
  .cart_button__num {
    position: absolute;
    background-color: #d62240;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
  }

  